<script context="module">
	export const prerender = true;
</script>

<script>
	import Counter from '$lib/Counter.svelte';
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>

<section>
	<h1>
		<div class="welcome">
			<picture>
				<source srcset="svelte-welcome.webp" type="image/webp" />
				<img src="svelte-welcome.png" alt="Welcome" />
			</picture>
		</div>

<h1>Header dynamicly updated </h1>
		<br/>
		test  test
	</h1>
	<Counter />
</section>

<section>
	<textarea name="some" id="some" cols="30" type="password">
	</textarea>
	<button class="btn btn-dark">butt</button>
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1;
	}

	h1 {
		width: 100%;
	}

	.welcome {
		position: relative;
		width: 100%;
		height: 0;
		padding: 0 0 calc(100% * 495 / 2048) 0;
	}

	.welcome img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		display: block;
	}

.container {
		background-color: red;
}

	.cool {
		margin: 50;
		margin-left: auto;
		margin-right: auto;
		font-size: 2rem;
		font: 'Roboto-Mono';
		font-style: bold;
		letter-spacing: 0.3rem;
	}
</style>
